.text-truncate-container {
    width: 250px;
}
.text-truncate-container p {
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.col-special {
    overflow: hidden;
  }

.no-bullets {
    list-style-type: none;
    padding: 0; 
    margin: 0;
  }

  .brand-text {
    font-family: "Righteous", sans-serif;
  }