body {
  background-color: #eee;
  font-family: "Poppins", sans-serif;
}

.card {  
  border: none;
}

.text-truncate-container {
  width: 250px;
}
.text-truncate-container p {
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.col-special {
  overflow: hidden;
}

.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.brand-text {
  font-family: "Righteous", sans-serif;
}

.btn-outline-info:hover {
  color: #fff;
}

#map {
  width: 100%;
  height: 500px;
}

.star-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
