<% layout('layouts/boilerplate') %>
<form action="/rentals" method="POST">
  <div>
    <label for="title">Title</label>
    <input type="text" id="title" name="rental[title]" />
    <label for="location">Location</label>
    <input type="text" id="location" name="rental[location]" />
    <button>Add New Rental</button>
  </div>
</form>
<a href="/rentals">Cancel</a>
