<% layout('layouts/boilerplate') %>
<form action="/rentals/<%=rental._id%>?_method=PATCH" method="POST">
  <div>
    <label for="title">Title</label>
    <input
      type="text"
      id="title"
      name="rental[title]"
      value="<%=rental.title%>"
    />
    <label for="location">Location</label>
    <input
      type="text"
      id="location"
      name="rental[location]"
      value="<%=rental.location%>"
    />
    <button>Update Rental</button>
  </div>
</form>
<a href="/rentals/<%=rental._id%>">Cancel</a>
